<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card >
    <ion-card-header>
      <ion-card-title style="text-align: center;">PhotoSena</ion-card-title>
    </ion-card-header>
    

      <div>
        <ion-card-content>
          <form (ngSubmit)="login()">

            <ion-item  >
              <ion-img src="https://cdn-icons-png.flaticon.com/512/1982/1982460.png"></ion-img>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input [(ngModel)]="email" name="email" type="email"></ion-input>
            </ion-item>
            
          
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
            </ion-item>
          
            <ion-button expand="full" type="submit" >Ingresar</ion-button>
            <br>
            <h3 style="text-align: center;">¿No tienes cuenta?</h3>
            <br>
            <ion-button expand="full" type="submit" (click)=" navigateToRegister()">Registrate</ion-button>
          </form>
          
        </ion-card-content>
      </div>      
  </ion-card>
</ion-content>